* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  width: 600px;
  max-height: 600px;
  height: 600px;
  border: 1px solid rgb(121 120 140);
  border-radius: 5px;
  margin: 40px auto 0;
  background-color: #ecd5cf;
  padding: 10px;
  font-size: 18px;
  box-shadow: 19px -16px 12px 0px rgb(121 120 140);
  overflow: auto;
}
#chat::-webkit-scrollbar {
  width: 13px;
}

#chat::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#chat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #98c0d9, #ab98d9);
}

h1 {
  padding: 10px;
  margin-left: 40px;
  color: #6964ac;
}

.chatImg {
  width: 200px;
  position: absolute;
  margin-left: 50px;
}

.loginPopup {
  background-image: url("./img/BGlight.png");
  width: 400px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-shadow: 19px -16px 12px 0px rgb(68 68 77);
}

.popup-overflow {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 6;
}

.popup-close {
  position: relative;
  top: 10px;
  left: 358px;
  width: 30px;
}
#loginForm {
  display: flex;
  flex-direction: column;
}
.popup-header {
  margin: 50px auto 0;
}

#loginInput {
  width: 60%;
  height: 32px;
  font-size: 18px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #ecd5cf;
}

#formButton,
#login-button {
  width: 205px;
  height: 52px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 20px;
}

#formButton {
  margin-bottom: 100px;
}

main {
  background-image: url("./img/BGlight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#messageForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#messageInput {
  width: 300px;
  font-size: 16px;
  height: 40px;
  margin: 40px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 12px -10px 12px 0px rgb(121 120 140);
}
